<h1>List of teachers (ListView)</h1>
<ul>
    {% for teacher in teacher_list %}
        <li>
            <a href="{% url 'classroom:detail_teacher' teacher.id %}">{{ teacher.first_name }} {{ teacher.last_name }}</a>
            <ul>
                <li>
                    <a href="{% url 'classroom:update_teacher' teacher.id %}">Update information for {{ teacher.first_name }}</a>
                </li>
                <li>
                    <a href="{% url 'classroom:delete_teacher' teacher.id %}">Delete information for {{ teacher.first_name }}</a>
                </li>
            </ul>
        </li>
    {% endfor %}
</ul>